/* Star Wars Font */
@font-face {
  font-family: "StarJedi Special Edition";
  src: url("./../fonts/STJEDISE.eot") format("eot"),
    url("./../fonts/STJEDISE.woff") format("woff"),
    url("./../fonts/STJEDISE.ttf") format("truetype"),
    url("./../fonts/STJEDISE.svg#StarJediSpecialEdition") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Utility Classes, style only */
.font-special { font-family: "StarJedi Special Edition"; }

.flex { display: flex; }
.flex-row { flex-flow: row wrap; }
.flex-col {
  flex-flow: column nowrap;
  justify-content: center;
}

/* Utility Classes, js interactions */
.visHide { visibility: hidden; }
.locked { pointer-events: none; }

body {
  background-image: url("./../images/bg-MillFalc.jpeg"); /* Background pattern from Toptal Subtle Patterns */
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-left: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 5rem;
}
/* special font has a BIG descender that needs to be 'cleared' */
h1.font-special { margin-bottom:    3rem; }
h3.font-special { margin-bottom: 0.75rem; }

.fighter p {
  text-align: center;
}

.fighter figure {
  display: flex;
  flex-flow: column nowrap;
  border: 0.25rem white solid;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  background: white;
}

.fighter figure:hover {
  border-color: black;
}

.fighter figure img {
  max-height: 7rem;
  max-width: 100%;
  margin: 0.25rem auto;
}

#attackBtn:hover  { color: red;  }
#attackBtn.locked { color: grey; }

#fightSummary p {
  margin-left: 1rem;
}

#playerArea   figure { background: gold;           color: black; }
#enemiesArea  figure { background: red;            color: black; }
#defenderArea figure { background: darkslategray;  color: white; }
#defeatedArea figure { background: black;          color: red;   }